html body{
    background-color: rgb(168, 225, 225);
    background-image: url('../flags/big_bg.png'); /* 替换为真实的图片路径 */
    background-size: cover; /* 背景图片覆盖整个页面 */
    background-repeat: no-repeat; /* 不重复背景图片 */
    background-position: center center; /* 背景图片居中对齐 */
    margin: 0;
    padding-bottom: 50px;
    height: 100%;
    font-family: sans-serif;
  }  
h1 {
    text-align: center;
    font-size: 10ch;
    font-family: sans-serif;
    color:  rgb(87, 34, 221);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px; /* Set the fixed height of the footer here */
}

.text-title{
    text-align: center;
    font-size: 4ch;
    font-family: sans-serif;
}
.text-normal {
    font-size:normal;
}
.text-large {
  font-size:large;
}
.text-bold {
    font-weight: bold;
    font-family: sans-serif;
}
.text-blue {
    color: rgb(12, 34, 158);
}
.text-info {
    color: rgb(57, 119, 212);
}

.board-container {
    display: flex;
    justify-content: flex-end;
}

.result-pic {
  margin: 10px;
}

.luna-btn {
  background-color: rgb(12, 34, 158);
  color: aqua;
  font-size: larger;
  border:none;
  border-radius:10px;
  box-shadow: 0px 0px 2px 2px rgb(12, 34, 158);
  min-height:40px; 
  min-width: 120px;
}

.luna-btn-correct {
  background-color: rgb(7, 154, 80);
  color: aqua;
  font-size: larger;
  border:none;
  border-radius:10px;
  box-shadow: 0px 0px 2px 2px rgb(12, 34, 158);
  min-height:40px; 
  min-width: 120px;
}

.final-result-container {
  margin-top: 50px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px;
}
.input_box {
  display: inline-block;
  background: rgba(255, 255, 255, 0);
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px 20px;
  border: 0 solid rgba(183,183,183,0.95);
  border-bottom: 1px solid #b7b7b7;
  font: normal 18px/normal "Comic Sans MS", cursive, sans-serif;
  color: rgba(0,142,198,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0.2) inset;
  box-shadow: 0 0 0 0 rgba(0,0,0,0.2) inset;
  text-shadow: 1px 1px 2px rgba(170,164,164,0.74) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.input_box:focus {
  border: 0 solid rgba(183,183,183,0.95);
  border-bottom: 2px solid rgba(87,127,147,0.9);
  background: rgb(191, 205, 240);
}

#scoreboard {
    text-align: right;
    font-size: larger;
    font-family: sans-serif;
    color:  rgb(111, 31, 155);
    margin: 20px;
}
#game-container {
    text-align: center;
    background-color: rgba(168, 225, 225, 0);
    margin-top: 50px;

  }
  
  #flag-display {
    background-color: rgba(168, 225, 225, 0);
    margin-bottom: 30px;
    padding: 10px;
  }
  
  #options-container button {
    margin: 10px;
    padding: 10px 20px;
  }
  
  #time-selector button {
    margin: 10px;
  }
  
  .modal {
    display: none; /* 默认隐藏 */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); /* 背景色 */
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  